<div class="row">
  <div class="col py-2">
    <div class="card border-success subject-item">
      <div class="card-body">
        <div class="subject-image">
          <%= image_tag "https://education.sun-asterisk.vn/assets/default-course-edb1df5c743f99e3b93d19e2f2db5204f217817ec7867fdf4990134f04aa6690.png",
            size: "126x77", alt: "not found", class: "course_img" %>         
        </div>
          <div class="subject-info">
            <div class="text-success">
              <button class="btn btn-sm btn-warning text-white">
              <i class="fa fa-clock"></i>
              <%= course_subject.end_date.present? ? l(course_subject.end_date) : "N/A" %><i class="fa fa-long-arrow-right"></i> 
              <%= course_subject.end_date.present? ? l(course_subject.end_date) : "N/A" %>
              </button>
            </div>
            <h5 class="card-title text-success">
                <%= link_to course_subject.subject.name, course_subject_path(course_subject.id) %> 
              <small>
                  <%= t("courses.supervisor.show.time", time: course_subject.subject.time) %>
              </small>
            </h5>
            <p class="card-text"></p>
                <%= t("courses.supervisor.show.guide") %>
              <br>
              <%= link_to course_subject.subject.description %> 
            </p>
          </div>
           <div class="col-md-3">
              <i class="fa fa-chevron-down pull-right toggle_subject" data-toggle="subject-<%= course_subject.subject.id %>"></i>
              <span class="sum_task">
                <span class="badge badge-secondary"><%= course_subject.subject.tasks.size %></span><%= t "subjects.tasks" %>
                <span class="badge badge-danger"><%= course_subject.subject.time %></span><%= t "subjects.time_day" %>
              </span>
              <%= button_to t("user_subjects.finish_subject"), finish_supervisor_course_subject_path(course_subject), method: :patch, class: "btn btn-danger btn-block" if course_subject.active? %>
              <%= button_to t("user_subjects.start_subject"), start_supervisor_course_subject_path(course_subject), method: :patch, class: "btn btn-success btn-block" if course_subject.joined? %>
              <%= button_to t("user_subjects.finished_subject"), course_subject, class: "btn btn-info btn-block" if course_subject.finished? %>
            </div>
        </div>
    </div>
  </div>
</div>
