<div id="course-info" class="clearfix">
  <div class="course-image-info p-2">
  <%= image_tag "https://education.sun-asterisk.vn/assets/default-course-edb1df5c743f99e3b93d19e2f2db5204f217817ec7867fdf4990134f04aa6690.png", size: "126x77", alt: "not found", class: "course_img" %>
</div>
<div class="course-content-info">
  <ul>
    <li>
      <h4 class="text-uppercase font-weight-bold">
        <span class="badge badge-warning"><%= course.status %></span>
        <a class="text-decoration-none text-muted">
          <%= link_to course.name, supervisor_course_path(course.id)%>
        </a>
      </h4>
    </li>
    <li class="mb-1">
      <i class="fa fa-clock"></i>
        <span>
          <strong><%= l course.start_date %>--></strong>
        </span>
        <i class="fa fa-long-arrow-right"></i>
        <span class="text-danger">
          <strong><%= course.end_date.present? ? l(course.end_date) : "N/A" %></strong>
        </span>
    </li>
  </ul>
</div>
<div class="country">
  <%= link_to t("courses.supervisor.index.edit"), edit_supervisor_course_path(course.id), class: "btn btn-primary" %>
  <%= link_to t("courses.supervisor.index.delete"), supervisor_course_path(course.id), class: "btn btn-danger",
    method: :delete, data: {confirm: t(".delete_confirm")} %>
</div>
</div>
