<div class="content-info mt-3">
  <ul class="nav nav-tabs  menu-course border-0">
    <li>
      <a class="nav-link active" data-toggle="tab" id="tab-subject" href="#subject">
        <i class="fa fa-list-alt mr-2"></i>
        <%= @course_subjects.size %>
      </a>   
    </li>
    <li>
      <a class="nav-link " id="member-area-tab" data-toggle="tab" href="#member">
        <i class="fa fa-users mr-2"></i>
        <span id="member-count">
          <%= @trainees.count %>
        </span>
      </a>   
    </li>
  </ul>
  <div class="tab-content float-none">
    <div id="subject" class="tab-pane active">
      <div id="list-subject">
        <% if @course_subjects.any? %>
          <%= render partial: "course_subjects", collection: @course.course_subjects, as: :course_subject %>
          <%= will_paginate @course_subjects %>
        <% else %>
          <div class="alert alert-danger"><%= t("subjects.no_subject") %></div>
        <% end %>
      </div>
    </div>
    <div id="member" class="tab-pane fade p-2">
      <%= button_to t("courses.supervisor.assign_trainee"), assign_trainee_supervisor_course_path(@course), method: :get, class: "btn btn-success float-right", remote: true %>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-between mt-3">
            <h5 id="trainee-count">
              <%= t("courses.supervisor.show.list_trainee", count: @trainees.count) %>
            </h5>
          </div>
          <ul class="list-group list-group-flush">
            <% if @trainees.any? %>
              <%= render partial: "shared/trainee", collection: @course.trainees, as: :trainee %>
              <%= will_paginate @trainees, :previous_label => t("will_paginate.previous"),
                                    :next_label => t("will_paginate.next") %>
            <% else %>
              <div class="alert alert-danger" id="no_trainees"><%= t("courses.no_trainee") %>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
      </div>
    </div>
 </div>
</div>
<div class="modal fade" id="modal-trainee">
