<div class="row">
  <div class="col-md-9">
    <div class="bg-info text-white">
      <h1 class="card-header">
        <%= @subject.name %><span class="<%=  @course_subject %>">  ||
        <%= @course_subject.status %></span>
      </h1>
      <div class="card-body">
        <p class="bg-warning text-white"><%= @subject.description %></p>
      </div>
    </div>
    <h2 class="tasks_title"><%= t "courses.subjects.list_tasks" %></h2>
    <div class="list-group" id="list_tasks_in_subject">
      <% if @tasks.any? %>
        <%= render partial: "tasks/task", collection: @tasks, as: :task %>
        <%= will_paginate @tasks, :previous_label => t("will_paginate.previous"),
                                    :next_label => t("will_paginate.next") %>
      <% else %>
        <div class="alert alert-danger no_task"><%= t "subjects.task.no_tasks" %></div>
      <% end %>
    </div>
  </div>
</div>
