<div class="row">
  <div class="col-md-9">
    <div class="card">
      <h1 class="card-header"><%= @subject.name %></h1>
      <div class="card-body">
        <p class="card-text"><%= @subject.description %></p>
      </div>
    </div>
    <h2 class="tasks_title"><%= t ("subjects.list_tasks") %></h2>
    <div class="list-group" id="list_tasks_in_subject">
      <% if @tasks.any? %>
        <%= render @tasks %>
        <%= will_paginate @tasks %>
      <% else %>
        <div class="alert alert-danger"><%= t("subjects.task.no_tasks") %></div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="belong_courses">
      <%= button_to t("subjects.task.new"), new_subject_task_path(@subject), method: :get, remote: true, class: "btn btn-primary btn-block" %>
      <h4><%= t ("subjects.task.belong_courses") %></h4>
      <ul class="list-group">
         <% if @courses.any? %>
           <%= render partial: "shared/course", collection:  @courses %>
           <%= will_paginate @courses %>
         <% else %>
           <div class="alert alert-danger"><%= t("subjects.no_courses") %></div>
         <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="modal fade" id="new_task"></div>
