<div class="panel panel-default">
  <ul class="list-group">
    <li class="list-group-item <%= status_course_subject_item course_subject %>">
      <div class="row">
              <div class="col py-2">
        <div class="card border-success subject-item">
          <div class="card-body">
            <div class="subject-image">
              <%= image_tag "https://education.sun-asterisk.vn/assets/default-course-edb1df5c743f99e3b93d19e2f2db5204f217817ec7867fdf4990134f04aa6690.png",
                size: "126x77", alt: "not found", class: "course_img" %>         
            </div>
              <div class="subject-info">
                <div class="text-success">
                  <button class="btn btn-sm btn-warning text-white">
                  <i class="fa fa-clock"></i>
                  <%= course_subject.end_date.present? ? l(course_subject.end_date) : "N/A" %><i class="fa fa-long-arrow-right"></i> 
                  <%= course_subject.end_date.present? ? l(course_subject.end_date) : "N/A" %>
                  </button>
                </div>
                <h5 class="card-title text-success">
                    <%= link_to course_subject.name, trainee_course_subject_path(course_subject) %>
                  <small>
                      <%= t("courses.supervisor.show.time", time: course_subject.subject.time) %>
                  </small>
                </h5>
                <p class="card-text"></p>
                    <%= t("courses.supervisor.show.guide") %>
                  <%= link_to course_subject.subject.description %> 
                    <div>
                      <i class="fa fa-chevron-down pull-right toggle_subject" data-toggle="SubjectContainer-<%= course_subject.subject.id %>"></i>
                        <div id="container">
                          <div>
                            <h4 class="click"><span class="badge badge-secondary"><%= course_subject.subject.tasks.size %></span><%= t "courses.trainee.subjects.task.view_task" %></h4>
                            <div class="expand">
                              <% if course_subject.subject.tasks.any? %>
                                <div class="fluid-row">
                                  <div class="tasks_mess"><%= t "subjects.list_tasks" %></div>
                                  <div class="col">
                                    <ul class="list_tasks">
                                      <%= render partial: "tasks/task", collection: course_subject.subject.tasks, as: :task %>
                                    </ul>
                                  </div>
                                </div>
                              <% else %>
                                <div class="alert alert-warning"><%= t "subjects.task.no_tasks" %></div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                    </div>
                </p>
              </div>
            </div>
        </div>
      </div>
      </div>
    </li>
  </ul>
</div>
